versions.tf
.terraform
terraform.tfstate.d
terraform.tfstate.backup
terraform.tfstate
azure/variables.tf

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

mongo-keyfile
mongodb/**/*.wt
mongodb/**/*.lock
mongodb/**/*.bson
mongodb/**/WiredTiger*
mongodb/**/.mongodb
mongodb/**/diagnostic.data
mongodb/**/journal
mongodb/mongo-keyfile